* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: #f0f0f0;
  border-bottom: 0.1rem solid lightgray;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 2rem 2rem 1rem 2rem;
  position: fixed;
  right: 0;
  top: 0;
}

header div {
  justify-content: space-between;
}

.inputs {
  margin-bottom: 1rem;
}

.inputs div {
  align-items: center;
  display: flex;
  flex: 1 1 50%;
}

.inputs div:first-child {
  margin-bottom: 0.5rem;
}

.inputs div:last-child {
  margin-top: 0.5rem;
}

.buttons {
  display: flex;
  margin-top: 0.5rem;
}

.buttons button:first-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0;
}

.buttons button:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.5rem;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0.5rem;
}

input {
  border: 0.1rem solid lightgray;
  border-radius: 0.5rem;
  flex: 1 1 auto;
  margin-left: 1rem;
  padding: 0.5rem;
}

button {
  background-color: #488aff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
}

button:active {
  background-color: #427feb;
}

#deleteMessages {
  background-color: #f53d3d;
}

#deleteMessages:active {
  background-color: #e13838;
}

header button {
  flex: 1 1 50%;
}

#done {
  display: inline-block;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 17.8rem 2rem 17.2rem 2rem;
}

footer {
  background-color: #f0f0f0;
  border-top: 0.1rem solid lightgray;
  bottom: 0;
  left: 0;
  padding: 1rem 2rem 2rem 2rem;
  position: fixed;
  right: 0;
}

textarea {
  border: 0.1rem solid lightgray;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
}

footer button {
  border-radius: 0.5rem;
  width: 100%;
}

@media (min-width: 512px) {
  .inputs {
    display: flex;
  }
  
  .inputs div:first-child {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  
  .inputs div:last-child {
    margin-left: 1rem;
    margin-top: 0;
  }

  main {
    padding-top: 13.5rem;
  }
}

@media (min-width: 768px) {
  main {
    padding-top: 11.7rem;
  }
}